.c {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .d {
        width: 80%;
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            font-size: 1.2rem;
        }

        .break {
            width: 100%;
            height: 2px;
            background-color: #ffffff55;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

}